<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.indo_asia">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".payment.LocalPaymentsActivity"></activity>
        <activity android:name=".payment.VisaCheckoutActivity" />
        <activity android:name=".navigate.VenmoActivity" />
        <activity android:name=".payment.GooglePaymentActivity" />
        <activity android:name=".payment.SettingsActivity" />
        <activity android:name=".payment.CardActivity" />
        <activity android:name=".payment.CreateTransactionActivity" />
        <activity android:name=".payment.PayPalActivity" />
        <activity android:name=".payment.MakePayment" />
        <activity android:name=".extraActivity.MakeVideo" />
        <activity android:name=".extraActivity.Video" />
        <activity android:name=".extraActivity.Videoplay" />
        <activity android:name=".BOTTOMNAVATION.ActivityFour" />
        <activity android:name=".BOTTOMNAVATION.ActivityThree" />
        <activity android:name=".BOTTOMNAVATION.ActivityTwo" />
        <activity android:name=".BOTTOMNAVATION.ActivityOne" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".basic"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bottomnav.bottomnav" />
        <activity android:name=".extraActivity.Sponsor" />
        <activity android:name=".extraActivity.TermsAndCondition" />
        <activity android:name=".FirabaseAuthentication.Main3Activity" />
        <activity android:name=".FirabaseAuthentication.Main2Activity" />
        <activity android:name=".extraActivity.ShareActivity" />
        <activity android:name=".FirabaseAuthentication.MessagingActivity" />
        <activity android:name=".FirabaseAuthentication.FAuth" />
        <activity android:name=".OTP" />
        <activity android:name=".extraActivity.My_Profile" />
        <activity android:name=".extraActivity.Video_Gallery" />
        <activity android:name=".extraActivity.Photo_Gallery" />
        <activity android:name=".extraActivity.ContactUs" />
        <activity
            android:name=".extraActivity.AboutUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".navigate.HomeActivity" />
        <activity android:name=".DisplayAcivity" />
        <activity android:name=".bottomnav.bnavActivity" />
        <activity android:name=".DrawerAcivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>